<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Play Chinese Chess</title>
	<link rel="stylesheet" href="/css/chess.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<section id="chessAppHeader">
		<nav class="nav">
			<ul>
				<li class="user"><%= user.name || user.username || user.email %></li>
				<li>
					<form action="/logout" method="post">
						<button class="logout" type="submit">Sign out</button>
					</form>
				</li>
			</ul>
		</nav>

		<h1>Play Chinese Chess</h1>

	</section>

	<section id="chessGame">
		<div class="chessGame">
			<img src="/images/xiangqiboard.png" class="chessBoardImg" alt="Board">

			<!-- <div class="chess_piece_container" data-piecetype="將" data-piececolor="black" data-insideboard="yes"
				data-col="5" data-row="10"></div> -->

			<% chessPieceInfo.forEach(function(chessPieceInfoItem) { %>
			<div class="chess_piece_container" data-piecetype=<%= chessPieceInfoItem.piecetype %>
				data-piececolor=<%= chessPieceInfoItem.piececolor %> data-insideboard=<%= chessPieceInfoItem.insideboard %>
				data-col=<%= chessPieceInfoItem.col %> data-row=<%= chessPieceInfoItem.row %>></div>
			<% }); %>

		</div>

	</section>

	<script src="/behaviors/chessPieceBehavior.js"></script>

	<!-- Load React. -->
	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
	<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

	<!-- Load our React component. -->
	<script src="/components/like_button.js"></script>
	<script src="/components/chess_piece.js"></script>
	<script src="/components/chess_pieces.js" type="module"></script>

</body>

</html>